{% extends "base.html.twig" %}

{% block body %}
    {% if session.erreur is not null %}
        <div class="alert alert-danger" role="alert">
            {{ session.erreur}}
        </div>
    {% endif %}
    {% if session.message is not null %}
        <div class="alert alert-success" role="alert">
            {{ session.message}}
        </div>
    {% endif %}
    <h2>Mon profil</h2>
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" class="form-control" value="{{session.user.first_name}}" disabled>
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" class="form-control" value="{{session.user.last_name}}" disabled>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" value="{{session.user.email}}" disabled>
        </div>
    </form>
    
{% endblock %}